html,body {
    height: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
h1 {
    flex: .1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#banner {
    width: 100%;
    flex: .1;
    /* height: 100px; */
    background-image: url(banana.jpeg);
    background-size: 10% 100%;
}
#big-banana {
    flex: 1;
    background-image: url(banana.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70% 70%;
}
#testimony {
    display: flex;
    /* align-items: stretch; */
    justify-content: stretch;
    flex: .7 1 auto;
    width: 100%;
}
#quote {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .1;
}